/* Container styling for the about section */
.container {
    display: flex;
    align-items: center;
    flex-direction: column; /* Default to column for small screens */
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    width: 100%;
    max-width: 800px;
    margin: 1rem;
    height: auto;
  }
  /* Keyframes for moving the banner text back and forth */
  @keyframes moveBanner {
    0% {
        transform: translateX(-30%);
    }
    50% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(-30%);
    }
    }

/* Banner styling for the about section */    
.banner{
    padding-top: 1.5rem;
    animation: moveBanner 10s linear infinite;
    white-space: nowrap; /* Prevent text from wrapping */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/* Content styling for the about section */
.content{
    padding: 1rem .5rem 1rem;
}

/* Initial state for the introduction section: hidden and slid in from the right */
.introduction {
    padding-top: 3rem;
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Initial state for the skills section: hidden and slid in from the bottom */
.skills {
    padding-top: 3rem;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Initial state for the more about me section: hidden and slid in from the right */
.moreAboutMe {
    padding-top: 3rem;
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Visible state for the introduction, skills, and more about me sections: fully visible and reset position */
.introduction.visible,
.skills.visible,
.moreAboutMe.visible {
    opacity: 1;
    transform: translateY(0);/* Reset position */
}

/* Styling for the about section image */
.aboutImage{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    transition: filter 0.5s ease; /* Smooth transition for the filter effect */
}
