.container {
    display: flex;
    align-items: center;
    flex-direction: column; /* Default to column for small screens */
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    width: 100%;
    max-width: 800px;
    margin: 1rem;
    height: auto;
  }
  @keyframes moveBanner {
    0% {
        transform: translateX(-30%);
    }
    50% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(-30%);
    }
    }
.banner{
    padding-top: 1.5rem;
    animation: moveBanner 10s linear infinite;
    white-space: nowrap; /* Prevent text from wrapping */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.content{
    padding: 1rem .5rem 1rem;
}
.introduction {
    padding-top: 3rem;
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.skills {
    padding-top: 3rem;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.moreAboutMe {
    padding-top: 3rem;
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.introduction.visible,
.skills.visible,
.moreAboutMe.visible {
    opacity: 1;
    transform: translateY(0);
}

.aboutImage{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    transition: filter 0.5s ease; /* Smooth transition for the filter effect */
}
.pixelated {
    filter: blur(2px) contrast(0.5); /* Apply the pixelate effect */
}