/* Container styling for the contact section */
.container {
  display: flex;
  align-items: center;
  flex-direction: column; /* Default to column for small screens */
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  width: 100%;
  max-width: 800px;
  margin: 1rem;
  height: auto;
}

/* Styling for GitHub image in contact info */
.contact-info img.github {
  width: 10rem;
  height: auto;
  border-radius: 2rem;
}

/* Styling for LinkedIn image in contact info */
.contact-info img.linkedin {
  width: 15.5rem; /* Adjust the size as needed */
  height: auto;
}

/* Hover effect for images in contact info */
.contact-info img:hover {
  transform: scale(1.1); /* Scale up on hover */
  transition: 1s;
}

/* Focus effect for input fields and textareas */
.input-box input:focus,
.input-box textarea:focus {
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.8);
  border: 2px solid rgba(0, 123, 255, 0.8);
  outline: none;
}

/* Keyframes for moving the banner text back and forth */
@keyframes moveBanner {
  0% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-30%);
  }
}

/* Banner styling for the contact section */
.banner {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  animation: moveBanner 10s linear infinite;
  width: 100%;
}

/* Initial state for the intro section: hidden and slid in from the right */
.intro-section {
  opacity: 0;
  transform: translateX(40px); /* Slide in from the right */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Initial state for the contact info section: hidden and slid in from the left */
.contact-info {
  opacity: 0;
  transform: translateX(-40px); /* Slide in from the left */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Initial state for the form section: hidden and slid in from the bottom */
.form-section {
  opacity: 0;
  transform: translateY(40px); /* Slide in from the bottom */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Visible state for the intro section: fully visible and reset position */
.intro-section.visible {
  opacity: 1;
  transform: translateX(0); /* Reset position */
}

/* Visible state for the contact info section: fully visible and reset position */
.contact-info.visible {
  opacity: 1;
  transform: translateX(0); /* Reset position */
}

.form-section.visible {
  opacity: 1;
  transform: translateY(0); /* Reset position */
}