/* Keyframes for moving the heading text back and forth */
@keyframes moveHeading {
    0% {
        transform: translateX(-52%);
    }
    50% {
        transform: translateX(52%);
    }
    100% {
        transform: translateX(-52%);
    }
}

/* Container styling for the projects section */
.container {
    margin: 0rem 2rem 0rem;
    max-width: 800px;
}

/* Banner styling for the projects section */
.banner {
    color: white;
    background-color: blue;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    position: relative;
    overflow: hidden;
}

/* Heading styling within the banner */
.banner h2 {
    display: inline-block;
    animation: moveHeading 6s linear infinite;
    white-space: nowrap; /* Prevent text from wrapping */
}

/* Styling for individual project cards */
.projectCard {
    position: relative;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 2rem;
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Styling for images within project cards */
.projectCard img {
    transition: transform 2s ease;
    height: 18rem;
}

/* Hover effect for project cards */
.projectCard:hover {
    height: auto;
}

/* Hover effect for images within project cards */
.projectCard:hover img {
    transform: scale(1.1);
    filter: blur(1px);
}

/* Styling for the card body */
.cardBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 2rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Initial transform for odd project cards */
.projectCard:nth-child(odd) {
    transform: translateX(-40px);
}

/* Initial transform for even project cards */
.projectCard:nth-child(even) {
    transform: translateX(40px);
}

/* Visible state for project cards */
.projectCard.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Hover effect for the card body */
.projectCard:hover .cardBody {
    opacity: 1;
    position: relative; /* Make sure the content is visible */
}

@media (max-width: 768px) {
    .projectCard {
        height: auto; /* Initial height for mobile */
        opacity: 1; /* Ensure visibility */
        transform: translateX(0); /* Initial transform */
        transition: transform 0.8s ease-in-out; /* Smooth transition */
    }

    .projectCard.expanded {
        height: auto; 
        transform: translate(0) !important; 
        transition: none !important; 
    }

    .projectCard .cardBody {
        position: absolute;
        opacity: 0;
    }

    .projectCard.expanded .cardBody {
        opacity: 1;
        position: relative;
    }

    .projectCard img {
        filter: none;
        transform: none !important; 
    }
}