.background-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow:auto;
  }
  
  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-nav .nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
  margin-bottom: auto;
}
.nav-link {
  cursor: pointer;
  font-size: 1.25rem; /* Increase font size */
    padding: 0.75rem 1rem; /* Increase padding */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  
  border-radius: 1rem;
  color: #fff;
}